<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Sweet and Savory Treats</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
      <hr>
      <div id="footer">
        <p>@Html.ActionLink("Home", "Index", "Home")</p>      
        @if (User.Identity.IsAuthenticated)
        {
            @using (Html.BeginForm("LogOff", "Account"))
            {
                <input type="submit" class="btn btn-default" value="Log out" />
            }
        }
        else
        {
            <p>@Html.ActionLink("Login", "Login", "Account")</p>
            <p>@Html.ActionLink("Create an account", "Register", "Account")</p>
        }
        @* @Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn" }) *@

      </div>
    </div>
  </body>
</html>